bin/Debug/netcoreapp3.1/white_rice_booking.dll
bin/Debug/netcoreapp3.1/white_rice_booking.dll
bin/Debug/netcoreapp3.1/white_rice_booking.dll
bin/Debug/netcoreapp3.1/white_rice_booking.dll
bin/Debug/netcoreapp3.1/white_rice_booking.pdb
obj/Debug/netcoreapp3.1/white_rice_booking.dll
obj/Debug/netcoreapp3.1/white_rice_booking.pdb
bin/Debug/netcoreapp3.1/CsvHelper.dll
bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
bin/Debug/netcoreapp3.1/white_rice_booking
bin/Debug/netcoreapp3.1/white_rice_booking.deps.json
bin/Debug/netcoreapp3.1/white_rice_booking.dll
bin/Debug/netcoreapp3.1/white_rice_booking.pdb
bin/Debug/netcoreapp3.1/white_rice_booking.Views.dll
bin/Debug/netcoreapp3.1/white_rice_booking.Views.pdb
bin/Debug/netcoreapp3.1/database/user_accounts.json
obj/project.assets.json
obj/project.nuget.cache
obj/white_rice_booking.csproj.nuget.dgspec.json
obj/white_rice_booking.csproj.nuget.g.props
obj/Debug/netcoreapp3.1/white_rice_booking
obj/Debug/netcoreapp3.1/white_rice_booking.assets.cache
obj/Debug/netcoreapp3.1/white_rice_booking.csproj.CopyComplete
obj/Debug/netcoreapp3.1/white_rice_booking.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/white_rice_booking.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/white_rice_booking.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/white_rice_booking.dll
obj/Debug/netcoreapp3.1/white_rice_booking.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/white_rice_booking.pdb
obj/Debug/netcoreapp3.1/white_rice_booking.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.1/white_rice_booking.RazorAssemblyInfo.cs
obj/Debug/netcoreapp3.1/white_rice_booking.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.1/white_rice_booking.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.1/white_rice_booking.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.1/white_rice_booking.TagHelpers.input.cache
obj/Debug/netcoreapp3.1/white_rice_booking.TagHelpers.output.cache
obj/Debug/netcoreapp3.1/white_rice_booking.Views.dll
obj/Debug/netcoreapp3.1/white_rice_booking.Views.pdb
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/ChosenFlight.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/FilterFlights.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/FlightStatus.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Index.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/ModifyFlight.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Privacy.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Reservations.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/SignUp.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.1/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
