bin/Debug/netcoreapp3.1/white_rice_booking.dll
bin/Debug/netcoreapp3.1/white_rice_booking.dll
bin/Debug/netcoreapp3.1/white_rice_booking.dll
bin/Debug/netcoreapp3.1/white_rice_booking.dll
bin/Debug/netcoreapp3.1/white_rice_booking.pdb
obj/Debug/netcoreapp3.1/white_rice_booking.dll
obj/Debug/netcoreapp3.1/white_rice_booking.pdb
