@page
@model CancelFlightModel
@{
    ViewData["Title"] = "Flight Cancellation"; // Adds "My Trips" to ViewData dictionary
}
<!-- <h1>@ViewData["Title"]</h1> -->
<h1>@ViewData</h1>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <div>
        <p>You selected these flight(s):</p>
    </div>
    
</div>
