@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "Book Flights";
}
<!--
    Name: Index
    Date Last Updated: 4-27-2020
    Programmer Names: Justin Tran, William Yung
    Description: This file displays the front-end UI of the home page and the Filter Flights Service class,
                which then allows users to access the flight filter function 
    Important Methods/Structures/Etc: <form method="post"> .... </form>
    Major Decisions: N/A
-->

<h1>Book Flights</h1>

<!-- Filter flights form for determining the desirable outbound and/or inbound flights for user -->
<div class="row">
    <div class="col-md-4">
        <form asp-page="/FilterFlights" method="post">
            <!-- Dropdown menu for Trip Type (Round Trip or One-way) -->
            <div class="form-group">
                <!-- <label for="">Choose a car:</label> -->
                <select id="TripType" name="TripType">
                <!--<select asp-for="TripType">-->
                    <option selected value="" disabled>Trip Type</option>
                    <option value="T">Round Trip</option>
                    <option value="O">One Way</option>
                </select>

            </div>

            <!-- Dropdown menu for Departing Location (Airport Name) -->
            <div class="form-group">
                <!-- <label for="">Choose a car:</label> -->
                
                <select id="DepartAirport" name="DepartAirport">
                <!--<select asp-for="DepartAirport">--> 
                    <option selected value="" disabled>Departing Location</option>
                    <option value="SFO">San Francisco International Airport</option>
                    <option value="LAX">Los Angeles International Airport</option>

                    <option value="SEA">Seattle Tacoma International Airport</option>
                    <option value="DFW">Dallas Fort Worth International Airport</option>

                    <option value="ATL">Hartsfield Jackson Atlanta International Airport</option>
                    <option value="DEN">Denver International Airport</option>

                    <option value="JFK">John F Kennedy International Airport</option>
                    <option value="ORD">Chicago O'Hare International Airport</option>

                    <option value="LAS">McCarran International Airport</option>
                    <option value="MCO">Orlando International Airport</option>
                </select>

            </div>


            <!-- Dropdown menu for Arrival Location (Airport Name) -->
            <div class="form-group">
                <!-- <label for="">Choose a car:</label> -->
                <select id="ArrivalAirport" name="ArrivalAirport">
                <!--<select asp-for="ArrivalAirport">-->
                    <option selected value="" disabled>Arrival Location</option>
                    <option value="SFO">San Francisco International Airport</option>
                    <option value="LAX">Los Angeles International Airport</option>

                    <option value="SEA">Seattle Tacoma International Airport</option>
                    <option value="DFW">Dallas Fort Worth International Airport</option>

                    <option value="ATL">Hartsfield Jackson Atlanta International Airport</option>
                    <option value="DEN">Denver International Airport</option>

                    <option value="JFK">John F Kennedy International Airport</option>
                    <option value="ORD">Chicago O'Hare International Airport</option>

                    <option value="LAS">McCarran International Airport</option>
                    <option value="MCO">Orlando International Airport</option>
                </select>

            </div>

            <!-- Input box for desired departure date -->
            <div class="form-group">
                <!--<label for="depart_date">Depart Date<span>*</span></label>-->
                <!--<label asp-for="depart_date">Depart Date</label>-->
                <label for="depart_date">Depart Date</label>
                <!--<input asp-for="depart_date" placeholder="YYYY-MM-DD"/>-->
                <input type="text" name="depart_date" placeholder="YYYY-MM-DD" />
            </div>

            <!-- Input box for desired return date -->
            <div class="form-group">
                <!--<label for="return_date">Return Date<span>*</span></label>-->
                <!--<label asp-for="return_date">Return Date</label>-->
                <label for="return_date">Return Date</label>
                <!--<input asp-for="return_date" placeholder="YYYY-MM-DD"/>-->
                <input type="text" name="return_date" placeholder="YYYY-MM-DD" />
            </div>       

            <!-- "Submit" button at the end of the form -->
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>
