@page
@model LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mcv.TagHelpers
@{
    ViewData["Title"] = "Login"; // Adds "My Trips" to ViewData dictionary
}
<h1>@ViewData["Title"]</h1>
<!--
    Name: Login.cshtml
    Date Last Updated: 4-30-2020
    Programmer Names: Justin Tran, Corey Stock, William Yung
    Description: Html for the Login page
    Important Methods/Structures/Etc: N/A
    Major Decisions: N/A
-->

<form method="post">
    <div>
    Email:
    <input asp-for="@Model.UserAccount.Email" />
    </div>
    <div>
    Password:
    <input asp-for="@Model.UserAccount.Password" />
    </div>

    <input type="submit"/>
</form>