@page 
@model ReservationsModel
@{
    ViewData["Title"] = "Checkout";
}

<h1>Order Checkout</h1>

<!-- Form for reserving a desired flight from a list of filtered flights information -->
<div class="row">
    <div class="col-md-4">
        <form asp-page="/ReservationConfirm" method="post">

            <div class="form-group">
                <label for="depart_ID">Depart ID</label>
                <input type="text" name="depart_ID" placeholder=""/>
            </div>

            <div class="form-group">
                <label for="return_ID">Return ID</label>
                <input type="text" name="return_ID" placeholder=""/>
            </div>       
            <div class="form-group">
                <label for="FirstName">First Name</label>
                <input type="text" name="FirstName" placeholder=""/>
            </div> 
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" name="LastName" placeholder=""/>
            </div> 
            <div class="form-group">
                <label for="CardNumber">Card Number</label>
                <input type="text" name="CardNumber" placeholder=""/>
            </div> 
            <div class="form-group">
                <label for="ExpirationDate">Expiration Date (MMYY)</label>
                <input type="text" name="ExpirationDate" placeholder=""/>
            </div> 
            <div class="form-group">
                <label for="CVV">CVV</label>
                <input type="text" name="CVV" placeholder=""/>
            </div> 
            <div class="form-group">
                <label for="street_address">Street Address</label>
                <input type="text" name="StreetName" placeholder=""/>
            </div> 
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" name="City" placeholder=""/>
            </div> 
            <div class="form-group">
                <label for="state">State</label>
                <input type="text" name="State" placeholder=""/>
            </div> 
            <div class="form-group">
                <label for="ZipCode">Zip Code</label>
                <input type="text" name="ZipCode" placeholder=""/>
            </div> 
            <div class="form-group">
                <!--<input type="submit" value="Submit">-->
                <input type="submit" value="Go to Checkout" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>