@page
@model SignUpModel
@addTagHelper *, Microsoft.AspNetCore.Mcv.TagHelpers
@{
    ViewData["Title"] = "Sign Up"; // Adds "My Trips" to ViewData dictionary
}
<h1>@ViewData["Title"]</h1>

<!--
    Name: SignUp.cshtml
    Date Last Updated: 4-29-2020
    Programmer Names: Corey Stock
    Description: Displays the SignUp page
    Important Methods/Structures/Etc: N/A
    Major Decisions: N/A
-->

<form method="post">
    <div>
    Email:
    <input asp-for="@Model.UserAccount.Email" />
    </div>
    <div>
    Password:
    <input asp-for="@Model.UserAccount.Password" />
    </div>
    <div>
    Confirm Password:
    <input asp-for="@Model.confirmedPassword" />
    </div>

    <input type="submit"/>
</form>